<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{%  extends 'base.html' %}


      {%  block head_Style %}

        <style>
        .cont {
          color : royalblue;
        }
        </style>


      {%  endblock %}




    {% block content  %}

    <div class="row">
{%for Product in products%}
       <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
         {%if Product.productimage_set.all%}
           {% for item in Product.productimage_set.all %}
              <img class="img-responsive"
              src="../media/{{ MEDIA_URL }}{{ item.image }}" alt="Card image cap" height="250"/>
                {%endfor%}
        {%else%}
          <img class="img-responsive"
          src="media/placeholder.jpg" alt="Card image cap" height="250"/>
        {%endif%}
                <hr>
              <div class="card-body">
            <a href='{% url "single_product" Product.slug%}'> <h5 class="card-title">{{Product.title}}</h5> </a>
              <h6 class="card-title">{{Product.price}}</h6>


             </div>
             </div>
             <br>



      </div>

        {%endfor%}
    </div>

        {%  endblock %}

    <script src=../B.S/B.S.jquery.js></script>
    <script src="../B.S/B.S.javascript.js"></script>
</body>
</html>
